body {
    font-family: "Roboto", sans-serif;
}

/*

SEARCH

*/

.form {
    text-align: center;
    margin-top: 500px;
}

.search-bar {
    border: 1px solid black;
    border-radius: 5px;
    height: 25px;
}
.search-btn {
    border: 1px solid black;
    border-radius: 5px;
    height: 28px;
}

/*

FOOTER

*/

.footer-content {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.popup {
    display: none;
    
}